html {
    text-align: center;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

nav{
    font-size: 20px;
    text-align: left;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    border-radius: 12px;
    border-color: blanchedalmond;
    border-style: solid;
}

img {
    border-radius: 5px;
    width: 500px;
}