@import url('https://fonts.googleapis.com/css2family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');

/* pantallas EXTRA PEQUEÑAS (celulares,  hasta 600px, o sea que tienen un ancho menor a 600px) */
@media only screen and (max-width: 600px) {
  body {
    background-color: tomato;
    text-align: center;
  }
  img {
      width: 100px;
      height: 600px;
      border-radius: 60%;
  }
}

/* pantallas PEQUEÑAS (tablets en modo portrait(vertical) y celulares grandes, o sea que tienen un ancho mayor a 600 px)*/
@media only screen and (min-width: 600px) {
  body {
    background-color: violet;
  }
}

/* pantallas de tamaño MEDIO (tablets en modo landscape(horizontal), o sea que tienen un ancho mayor o igual a 768px) */
@media only screen and (min-width: 768px) {
  body {
    background-color: yellow;
  }
}

/* pantallas grandes laptops o computadoras de escritorio*/
@media only screen and (min-width: 992px) {
  body {
    background-color: peru;
  }
  img {
      border-radius: 50%;
      width: 300px;
      display: block;
  }
}

/* pantallas MUY grandes laptops gamer, monitores extra grandes o que tienen un ancho mayor a 1200px*/
@media only screen and (min-width:1200px) {
    body {
        background-color: cyan;
    }
    img {
        filter: sepia(40%);
    }
    #texto1{
        font-family: 'Lato', sans-serif;
        font-size: larger;
    }
}