@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

body {
  background-color: #dee2e6;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

header {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
  background-color: #6c757d;
  margin: auto;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

#photo-container {
  padding-top: 40px;
  text-align: center;
}

#photo {
  filter: grayscale(100%);
  width: 700px;
}
