@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #DDF0FF;
}

#restaurantes {
    font-family: Lato;
    font-size: 20px;
    border-color: black;
    border-style: solid;
    width: 300px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: wheat;
    text-align: center;
}

#nombre {
    color: #FF6B6B;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cancionFavorita {
    font-family: Lato;
}

#parrafo1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}

#parrafo2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
}

#parrafo3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
}

#parrafo4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: violet;
}

#nombreCompleto {
    font-weight: bolder;
    font-size: 30px;
}